form.form-horizontal(name="seller-form", novalidate)
  div(ng-if="$ctrl.seller.id")
    input.form-control(type='hidden',
      name='id',
      id='seller_id',
      ng-model='$ctrl.seller.id')
  div.form-group
    label.col-sm-2.control-label(for='seller_fullname') Fullname
    div.col-sm-10
      input.form-control(type='text',
        name='sFullName',
        id='seller_fullname',
        placeholder='Fullname',
        ng-model='$ctrl.seller.fullname')
  div.form-group
    label.col-sm-2.control-label(for='seller_email') Email
    div.col-sm-10
      input.form-control(type='email',
        name='iEmail',
        id='seller_email',
        placeholder='Email',
        ng-model='$ctrl.seller.email')
  div.form-group
    label.col-sm-2.control-label(for='seller_phone') Phone
    div.col-sm-10
      input.form-control(type='phone',
        name='iPhone',
        id='seller_phone',
        placeholder='Phone',
        ng-model='$ctrl.seller.phone')
  div.form-group
    label.col-sm-2.control-label(for='seller_website') Website
    div.col-sm-10
      input.form-control(type='website',
        name='iWebsite',
        id='seller_website',
        placeholder='Website',
        ng-model='$ctrl.seller.website')
  div.form-group
    label.col-sm-2.control-label(for='seller_address') Address
    div.col-sm-10
      textarea.form-control(
        name='iAddress',
        id='seller_address',
        placeholder='Address'
        ng-model='$ctrl.seller.address')
  div.form-group
    label.col-sm-2.control-label(for='seller_description') Description
    div.col-sm-10
      textarea.form-control(
        name='iDescription',
        id='seller_description',
        placeholder='Description'
        ng-model='$ctrl.seller.description')
  div.form-group
    label.col-sm-2.control-label(for='seller_note') Note
    div.col-sm-10
      textarea.form-control(
        name='iNote',
        id='seller_note',
        placeholder='Note'
        ng-model='$ctrl.seller.note')
  div.form-group
    div.col-sm-offset-2.col-sm-10
      input.btn.btn-default(type='submit', value='Save',
        ng-click="$ctrl.save($ctrl.seller)")
