doctype html
html
  head
    title= 'StockIt'
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/jquery.min.js')
    script(src='/angular/angular.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    //nav.navbar.navbar-default.navbar-fixed-top.bs-docs-nav
    header#top.navbar.navbar-static-top.navbar-default.bs-docs-nav(role="banner")
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(
            type="button",
            data-toggle="collapse",
            data-target="#bs-example-navbar-collapse-1",
            aria-expanded="false")
            span.sr-only
              Toggle navigation
          a.navbar-brand(href="/")
            | StockIt
        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          if authenticated
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href="#",
                  data-toggle="dropdown",
                  role="button",
                  aria-haspopup="true",
                  aria-expanded="false")
                  | Projects
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/projects")
                      | Projects list
                  li
                    a(href="/projects/create")
                      | Create project
              li.dropdown
                a.dropdown-toggle(href="#",
                  data-toggle="dropdown",
                  role="button",
                  aria-haspopup="true",
                  aria-expanded="false")
                  | Accounts
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/accounts")
                      | Accounts list
                  li
                    a(href="/accounts/create")
                      | Create account
              if isAdmin
                li.dropdown
                  a.dropdown-toggle(href="#",
                    data-toggle="dropdown",
                    role="button",
                    aria-haspopup="true",
                    aria-expanded="false")
                    | Security Levels
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/security_levels")
                        | Levels list
                    li
                      a(href="/security_levels/create")
                        | Create level
                li.dropdown
                  a.dropdown-toggle(href="#",
                    data-toggle="dropdown",
                    role="button",
                    aria-haspopup="true",
                    aria-expanded="false")
                    | Roles
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/roles")
                        | Roles list
                    li
                      a(href="/roles/create")
                        | Create role
                li.dropdown
                  a.dropdown-toggle(href="#",
                    data-toggle="dropdown",
                    role="button",
                    aria-haspopup="true",
                    aria-expanded="false")
                    | Priorities
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/priorities")
                        | Priorities list
                    li
                      a(href="/priorities/create")
                        | Create priority
          ul.nav.navbar-nav.navbar-right
            if authenticated
              li.dropdown
                a.dropdown-toggle(href="#",
                  data-toggle="dropdown",
                  role="button",
                  aria-haspopup="true",
                  aria-expanded="false")
                  ="Hello " + current_account.name
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/accounts/" + current_account.id)
                      | Profile
                  li
                    a(href="/logout")
                      | Log out
            else
              li
                a(href="/login")
                  | Log in
    div.container
      if notification
        div.row
          div.alert(class=notification.type,
            role="alert")
            =notification.content
      if breadcrums
        div.row
          ol.breadcrumb
            each bc, index in breadcrums
              li: a(href=bc.link)=bc.name
      block content
