div.container
  include ../../_ng_error_list.jade
  div.row(ng-show="!$ctrl.error")
    if isAdmin
      include ../../_delete_dialog
    ol.breadcrumb
      li
        a(href="#!/customers") Customer 
      li.active {{$ctrl.customer.email}}
    div.panel.panel-default
      div.panel-heading
        h3.panel-title {{$ctrl.customer.email}}
      div.panel-body
        div.row
          label.col-md-1 Email:
          div.col-md-11
            = "{{$ctrl.customer.email}}"
        div.row
          label.col-md-1 Fullname:
          div.col-md-11
            = "{{$ctrl.customer.fullname}}"
        div.row
          label.col-md-1 Phone:
          div.col-md-11
            = "{{$ctrl.customer.phone}}"
        div.row
          label.col-md-1 Address:
          div.col-md-11
            = "{{$ctrl.customer.address}}"
        if isAdmin
          div.row
            label.col-md-1 Note:
            div.col-md-11
              = "{{$ctrl.customer.note}}"
        div.row
          if isAdmin
            div.col-sm-2
              a.btn.btn-danger(delete-confirm,
                object-type="customers",
                object-id="{{$ctrl.customer.id}}",
                role="button")
                | Delete Customer
            div.col-sm-2
              a.btn.btn-primary(ng-click="$ctrl.editCustomer()",
                role="button")
                | Edit Customer
          if !isAdmin
            div(ng-if="$ctrl.customer.is_owner")
              div.col-sm-2
                a.btn.btn-primary(ng-click="$ctrl.editCustomer()",
                  role="button")
                  | Edit Customer
          div(ng-if="$ctrl.customer.is_owner")
            div.col-sm-2
              a.btn.btn-primary(ng-click="$ctrl.updatePassword()",
                role="button")
                | Update Password
