div.container
  ol.breadcrumb
    li
      a(href="#!/customers") Customer 
    li
      a(href="#!/customers/{{$ctrl.customer.id}}") {{$ctrl.customer.email}}
    li.active Update Password
  div.panel.panel-default
    div.panel-heading
      h3.panel-title {{$ctrl.customer.email}}
    div.panel-body
      include ../../_ng_error_list.jade
      form.form-horizontal(name="account-form", novalidate)
        div.form-group
          label.col-sm-2.control-label(for='account_old_password') Old Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[old_password]',
              id='account_password',
              placeholder='Password',
              ng-model='$ctrl.customer.account.old_password')
        div.form-group
          label.col-sm-2.control-label(for='account_password') New Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[password]',
              id='account_password',
              placeholder='Password',
              ng-model='$ctrl.customer.account.password')
        div.form-group
          label.col-sm-2.control-label(for='account_password_confirm') Confirm Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[password_confirm]',
              id='account_password_confirm',
              placeholder='Confirm Password',
              ng-model='$ctrl.customer.account.password_confirm')
        div.form-group
          div.col-sm-offset-2.col-sm-10
            input.btn.btn-default(type='submit', value='Save',
              ng-click="$ctrl.save($ctrl.customer)")
