div.container
  ol.breadcrumb
    li
      a(href="#!/admins") Admin 
    li
      a(href="#!/admins/{{$ctrl.admin.id}}") {{$ctrl.admin.account.email}}
    li.active Update Password
  div.panel.panel-default
    div.panel-heading
      h3.panel-title {{$ctrl.admin.email}}
    div.panel-body
      include ../../_ng_error_list.jade
      form.form-horizontal(name="admin-form", novalidate)
        div.form-group
          label.col-sm-2.control-label(for='admin_old_password') Old Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[old_password]',
              id='admin_old_password',
              placeholder='Password',
              ng-model='$ctrl.admin.account.old_password')
        div.form-group
          label.col-sm-2.control-label(for='admin_password') New Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[password]',
              id='admin_password',
              placeholder='Password',
              ng-model='$ctrl.admin.account.password')
        div.form-group
          label.col-sm-2.control-label(for='admin_password_confirm') Confirm Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[password_confirm]',
              id='admin_password_confirm',
              placeholder='Confirm Password',
              ng-model='$ctrl.admin.account.password_confirm')
        div.form-group
          div.col-sm-offset-2.col-sm-10
            input.btn.btn-default(type='submit', value='Save',
              ng-click="$ctrl.save($ctrl.admin)")
