form.form-horizontal(action='/accounts/admin/create', method='post')
  div.form-group
    label.col-sm-2.control-label(for='Admin_email') Email
    div.col-sm-10
      input.form-control(type='text',
      name='email',
      id='Admin_email',
      placeholder='Email')
  div.form-group
    label.col-sm-2.control-label(for='Admin_password') Password
    div.col-sm-10
      input.form-control(type='password',
      name='password',
      id='Admin_password',
      placeholder='Password')
  div.form-group
    label.col-sm-2.control-label(for='Admin_password_confirm') Confirm Password
    div.col-sm-10
      input.form-control(type='password',
      name='password_confirm',
      id='Admin_password_confirm',
      placeholder='Retype Password')
  div.form-group
    div.col-sm-offset-2.col-sm-10
      input.btn.btn-default(type='submit' value='Submit')
