extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Accounts List
    div.panel-body
      div.table-responsive
        table.table.table-hover
          thead
            tr
              th ID
              th Email
              th Fullname
              th Is admin?
          tbody
            for account in accounts
              - var detail = account.account_detail;
              - var customer = account.customer;
              tr
                td=account.id
                td
                  a(href='/accounts/' + account.id)=account.email
                if (!customer && !detail) 
                  td=''
                if (detail) 
                  td=detail.fullname
                if (customer) 
                  td=customer.fullname
                td=account.is_admin ? 'true' : 'false'
