extends ../layout

block content
  div.row
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Update Password
    div.panel-body
      // error output
      include ../_error_list
      div.row
        // update form
        div.col-md-6
          form.form-horizontal(action='/accounts/' + current_account.id + '/password/update', method='post')
            // Because you can only update password of your own
            //input.form-control(type='hidden',
            //  name='id',
            //  value=account.id)
            div.form-group
              label.col-sm-5.control-label(for='Account_password') Old Password
              div.col-sm-7
                input.form-control(type='password',
                  name='old_password',
                  id='Account_old_password',
                  placeholder='Old Password')
            div.form-group
              label.col-sm-5.control-label(for='Account_password') New Password
              div.col-sm-7
                input.form-control(type='password',
                  name='password',
                  id='Account_password',
                  placeholder='Password')
            div.form-group
              label.col-sm-5.control-label(for='Account_password_confirm') New Password Confirmation
              div.col-sm-7
                input.form-control(type='password',
                  name='password_confirm',
                  id='Account_password_confirm',
                  placeholder='Retype Password')
            div.form-group
              div.col-sm-offset-5.col-sm-7
                input.btn.btn-default(type='submit' value='Submit')
