div.panel.panel-default
  if details && details.length > 0
    div.panel-heading
      h3.panel-title Details
    div.panel-body
      div.table-responsive
        table.table.table-hover
          thead
            tr
              th Code
              th Name
              th Price
              th Quantity
              th Total
          tbody
            for detail in details
              tr
                td
                  a(href='/items/' + detail.item_id)=detail.item.code
                td=detail.item.name
                td=detail.price
                td=detail.quantity
                td=detail.quantity * detail.price
  else
    ="This order is empty"
