include ../../_delete_dialog
div.container
  ol.breadcrumb
    li
      a(href="#!/items") Account 
    li.active {{$ctrl.account.email}}
  div.panel.panel-default
    div.panel-heading
      h3.panel-title {{$ctrl.account.email}}
    div.panel-body
      div.row
        label.col-md-1 Email:
        div.col-md-11
          = "{{$ctrl.account.email}}"
      div(ng-if="$ctrl.account.is_admin")
        div.row
          label.col-md-1 Fullname:
          div.col-md-11
            = "{{$ctrl.account.admin.fullname}}"
        div.row
          label.col-md-1 Note:
          div.col-md-11
            = "{{$ctrl.account.admin.note}}"
      div(ng-if="!$ctrl.account.is_admin")
        div.row
          label.col-md-1 Fullname:
          div.col-md-11
            = "{{$ctrl.account.customer.fullname}}"
        div.row
          label.col-md-1 Phone:
          div.col-md-11
            = "{{$ctrl.account.customer.phone}}"
        div.row
          label.col-md-1 Address:
          div.col-md-11
            = "{{$ctrl.account.customer.address}}"
        if isAdmin
          div.row
            label.col-md-1 Note:
            div.col-md-11
              = "{{$ctrl.account.customer.note}}"
      div.row
        if isAdmin
          div.col-sm-2
            a.btn.btn-danger(delete-confirm,
              object-type="accounts",
              object-id="{{$ctrl.account.id}}",
              role="button")
              | Delete Account
          div.col-sm-2
            a.btn.btn-primary(ng-click="$ctrl.editItem()",
              role="button")
              | Edit Account
        if !isAdmin
          div(ng-if="$ctrl.account.is_owner")
            div.col-sm-2
              a.btn.btn-primary(ng-click="$ctrl.editItem()",
                role="button")
                | Edit Account
        div(ng-if="$ctrl.account.is_owner")
          div.col-sm-2
            a.btn.btn-primary(ng-click="$ctrl.updatePassword()",
              role="button")
              | Update Password
