div.container
  include ../../_ng_error_list.jade
  div.row(ng-show="!$ctrl.error")
    div.col-md-12
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Accounts List
        div.panel-body
          div.row
            label.col-sm-1.control-label(for='Account_search') Search
            div.col-sm-3
              input(type='text',
                name='keyword',
                id='Account_search',
                placeholder='keyword',
                ng-model="$ctrl.query")
          div.row
            label.col-sm-1.control-label(for='Account_sort') Sort
            div.col-sm-3
              select(name='keyword',
                id='Account_sort',
                ng-model="$ctrl.orderProp")

                option(value="default", disabled) Order By
                option(value="id") ID
                option(value="email") Email
                option(value="is_admin") Is admin?
                option(value="-id") Decending ID
                option(value="-email") Decending Email
                option(value="-is_admin") Decending Is admin?
          div.table-responsive
            table.table.table-hover
              thead
                tr
                  th ID
                  th Email
                  th Fullname
                  th Is admin?
              tbody
                tr(ng-repeat="account in $ctrl.accounts | filter:$ctrl.query | orderBy:$ctrl.orderProp")
                  td(ng-if="account.is_admin")
                    a(href='admins#!/admins/' + "{{account.admin.id}}") {{account.id}}
                  td(ng-if="!account.is_admin")
                    a(href='customers#!/customers/' + "{{account.customer.id}}") {{account.id}}
                  td {{account.email}}
                  td(ng-if="account.is_admin")
                    | {{account.admin.fullname}}
                  td(ng-if="!account.is_admin")
                    | {{account.customer.fullname}}
                  td {{account.is_admin | istrue}}
