form.form-horizontal(name="item-form", novalidate)
  div.form-group
    label.col-sm-2.control-label(for='item_name') Name
    div.col-sm-10
      input.form-control(type='text',
        name='iName',
        id='item_name',
        placeholder='Name',
        ng-model='item.name')
  div.form-group
    label.col-sm-2.control-label(for='item_code') Code
    div.col-sm-10
      input.form-control(type='text',
        name='iCode',
        id='item_code',
        placeholder='Code',
        ng-model='item.code')
  div.form-group
    label.col-sm-2.control-label(for='item_price') Price
    div.col-sm-10
      input.form-control(type='number',
        name='iPrice',
        id='item_price',
        placeholder='Price',
        ng-model='item.price')
  div.form-group
    label.col-sm-2.control-label(for='item_in_stock') In Stock
    div.col-sm-10
      input.form-control(type='number',
        name='iInStock',
        id='item_in_stock',
        placeholder='In Stock',
        ng-model='item.in_stock')
  div.form-group
    label.col-sm-2.control-label(for='item_description') Description
    div.col-sm-10
      textarea.form-control(
        name='iDescription',
        id='item_description',
        placeholder='Description'
        ng-model='item.description')
  div.form-group
    label.col-sm-2.control-label(for='item_note') Note
    div.col-sm-10
      textarea.form-control(
        name='iNote',
        id='item_note',
        placeholder='Note'
        ng-model='item.note')
  div.form-group
    div.col-sm-offset-2.col-sm-10
      input.btn.btn-default(type='submit', value='Submit',
        ng-click="$ctrl.create(item)")
